<p id="notice"><%= notice %></p>



<div class="container">

<h1>Shops</h1>
<%= link_to 'New Shop', new_shop_path, class: 'btn btn-primary float-right' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account number</th>
      <th>Location</th>
      <th>Total Shop points</th>
      
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= link_to shop.name, shop %></td>
        <td><%= shop.account_number %></td>
        <td><%= shop.location %></td>
        <td><%= shop.get_points %></td>
        
        <!-- <td><%#= link_to 'Edit', edit_shop_path(shop) %></td> -->
        <!-- <td><%#= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>