<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-6">left</div>
    <div class="col-6">right</div>

  </div>
</div>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ean</th>
      <th>Points</th>
      <th>Available in app</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.ean %></td>
        <td><%= product.points %></td>
        <td><%= product.available_in_app %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
